<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/myProfile.css}">
    <link rel="stylesheet" th:href="@{/css/toolBar.css}"/>

</head>
<body>
<div class="header">
    <div class="left">
        <h2>Hussam</h2>
        <a class="Home" th:href="@{/product}">Home</a>
        <a class="add-product" th:href="@{/product/post}">Add Product</a>
    </div>

    <div class="right">
        <form th:action="@{/product/search}" method="get">
            <input name="query" placeholder="Search products..." required type="text">
            <button type="submit" class="search-button">Search</button>
        </form>
        <div class="profile-container">
            <img class="profile-icon" th:src="@{${users.image}}" th:if="${users != null}">
            <div class="bottom-bar">
                <a class="buttonProfile" th:href="@{/myProfile}">My Profile</a>
                <a class="buttonProfile" th:href="@{/product/getMine}">My Product</a>
                <a class="buttonProfile" th:href="@{/getMyPayment}">My Payments</a>
                <a class="buttonProfile" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <h2>My Profile</h2>
    <div class="profile-photo-section">
        <div class="photo-container">
            <img id="profilePhotoPreview" th:src="@{${users.image}}" alt="Profile Photo">
        </div>
        <button type="submit" id="uploadProfilePhotoButton">Upload Photo</button>
    </div>
    <div class="change-password-section">
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>
        <h3>Change Password</h3>
        <form th:action="@{/myProfile/changePassword}" method="post">
            <div class="input-field">
                <input type="password" id="oldPassword" name="oldPassword" required placeholder=" ">
                <label for="oldPassword">Old Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="newPassword" name="newPassword" required placeholder=" ">
                <label for="newPassword">New Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required placeholder=" ">
                <label for="confirmNewPassword">Confirm New Password</label>
            </div>
            <button type="submit" class="changePasswordButton">Change Password</button>
        </form>
    </div>
</div>
<script th:src="@{/js/myProfile.js}"></script>
</body>
</html>